@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background: #0f0f0f;
}

nav {
  background: #0f0f0f;
  padding-left: 45px;
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-45px);
}
nav a {
  padding: 13px 20px;
  color: #f0f0f0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
nav .active,
nav a:hover {
  color: #0f0f0f;
  background: #f0f0f0;
}

.wrapper {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  height: 80vh;
  margin-top: 10vh;
  margin-left: 45px;
  padding-left: 10vh;
}
.wrapper .page {
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  height: 95%;
}
.wrapper .page .full {
  height: 100%;
}
.wrapper .page .top,
.wrapper .page .bottom {
  height: 50%;
}
.wrapper .p1,
.wrapper .p3,
.wrapper .p5 {
  align-self: flex-end;
}