@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
// COLORS
$white: #f0f0f0;
$black: #0f0f0f;
// MEASUREMENTS
$nav-width: 45px;
// $nav-padding: ($nav-width - 19) / 2;
// $nav-padding: math.div($nav-width - 19, 2);
$nav-padding: calc(($nav-width - 19px) / 2);
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background: $black;
}

nav {
    background: $black;
    padding-left: $nav-width;
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-45px);
    a {
        padding: $nav-padding 20px;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    .active,
    a:hover {
        color: $black;
        background: $white;
    }
}

.wrapper {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 45px;
    padding-left: 10vh;
    .page {
        position: relative;
        display: flex;
        gap: 20px;
        flex-direction: column;
        height: 95%;
        .full {
            height: 100%;
        }
        .top,
        .bottom {
            height: 50%;
        }
    }
    .p1,
    .p3,
    .p5 {
        align-self: flex-end;
    }
}