@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background: #0f0f0f;
}

.logo {
  height: 30px;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 20;
}

nav {
  background: #0f0f0f;
  padding-left: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 15;
}
nav .nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
nav .nav-top button {
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
}
nav .nav-top button img {
  height: 30px;
}
nav .nav-content {
  display: none;
  flex-direction: column;
  width: 100%;
}
nav .nav-content a {
  padding: 20px;
  color: #f0f0f0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  text-align: center;
}
nav .nav-content .active,
nav .nav-content a:hover {
  color: #0f0f0f;
  background: #f0f0f0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 90vh;
  margin: 60px 20px;
}
.wrapper::-webkit-scrollbar {
  margin: 45px;
  height: 6px;
  background-color: #0f0f0f;
  z-index: 10;
}
.wrapper::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #0f0f0f;
}
.wrapper::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #5c5c5c;
}
.wrapper .page {
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.wrapper .page .full {
  height: 100%;
}
.wrapper .page .top,
.wrapper .page .bottom {
  height: 50%;
}
.wrapper .page img {
  border: #f0f0f0 3px solid;
}
.wrapper .p6 {
  padding-bottom: 20px;
}
.wrapper .quote {
  position: absolute;
}
.wrapper .quote blockquote {
  position: relative;
  padding: 10px 13px 10px;
  color: #0f0f0f;
  font-family: "Kalam", cursive;
  font-weight: 700;
  background: #f0f0f0;
  text-align: center;
  border-radius: 15px;
}
.wrapper .quote blockquote:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #f0f0f0 transparent;
}
.wrapper .caption {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 5;
}
.wrapper .caption .caption__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}
.wrapper .caption .caption__content {
  position: relative;
  padding: 10px 13px 10px;
  color: #0f0f0f;
  font-family: "Kalam", cursive;
  font-weight: 700;
}
.wrapper p {
  margin: 0;
  padding: 0;
}
.wrapper p a {
  color: #DD2222;
  text-decoration: none;
}
.wrapper .q1 {
  top: 10px;
  right: 10px;
}
.wrapper .q1 blockquote:after {
  transform: skewX(-15deg);
  border-width: 20px 20px 0 0;
  top: 100%;
  right: 50px;
}
.wrapper .q2 {
  bottom: 10px;
  right: 10px;
  max-width: 200px;
}
.wrapper .q2 blockquote:after {
  transform: skewX(15deg);
  border-width: 0 20px 20px 0;
  top: -20px;
  right: 50px;
}
.wrapper .q3 {
  top: 10px;
  left: 10px;
  max-width: 200px;
}
.wrapper .q3 blockquote:after {
  transform: skewX(-15deg);
  border-width: 20px 20px 0 0;
  top: 100%;
  right: 50px;
}
.wrapper .q4 {
  left: 10px;
  right: 10px;
  bottom: 10px;
}
.wrapper .q4 blockquote:after {
  transform: skewX(15deg);
  border-width: 0 20px 20px 0;
  top: -20px;
  right: 50px;
}
.wrapper .q5 {
  bottom: 10px;
  left: 10px;
  max-width: 200px;
}
.wrapper .q5 blockquote:after {
  transform: skewX(-15deg);
  border-width: 0 0 20px 20px;
  top: -20px;
  left: 50px;
}
.wrapper .q6 {
  bottom: 10px;
  left: 10px;
  max-width: 200px;
}
.wrapper .q6 blockquote:after {
  transform: skewX(-15deg);
  border-width: 0 0 20px 20px;
  top: -20px;
  left: 50px;
}
.wrapper .q7 {
  bottom: 55%;
  left: 10px;
  font-size: small;
  max-width: 50%;
}
.wrapper .q7 blockquote:after {
  transform: skewX(-15deg);
  border-width: 0 0 20px 20px;
  top: -20px;
  left: 50px;
}
.wrapper .q8 {
  bottom: 30px;
  right: 10px;
  font-size: small;
  width: 80%;
}
.wrapper .q8 blockquote:after {
  transform: skewX(15deg);
  border-width: 0 20px 20px 0;
  top: -20px;
  right: 50px;
}

.shadow {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f0f0f0;
  margin: 20px;
  margin-top: 60px;
  height: 90vh;
}
.content .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 50px;
}
.content .details h1 {
  font-family: "Outfit", sans-serif;
  margin-bottom: 10px;
}
.content .details p {
  font-family: "Figtree", sans-serif;
}
.content .image {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-clip-path: polygon(0 25%, 100% 5%, 100% 100%, 0% 100%);
          clip-path: polygon(0 25%, 100% 5%, 100% 100%, 0% 100%);
  bottom: 0;
  max-height: 60%;
}
.content .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .logo {
    height: 30px;
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 20;
  }
  nav {
    padding-left: 5vh;
    top: auto;
    bottom: 0;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-45px);
  }
  nav .nav-top {
    display: none;
  }
  nav .nav-content {
    display: flex;
    flex-direction: row;
  }
  nav .nav-content a {
    padding: 13px 20px;
  }
  .wrapper {
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 5vh 45px 0 90px;
  }
  .wrapper .page {
    height: 95%;
  }
  .wrapper .p1,
  .wrapper .p3,
  .wrapper .p5 {
    align-self: flex-end;
    margin-bottom: 6px;
  }
  .wrapper .p1 {
    transform: translateY(-26px);
  }
  .wrapper .p6 {
    padding-bottom: 0;
    margin-right: 20px;
  }
  .wrapper .quote {
    border-radius: 20px;
  }
  .wrapper .quote blockquote {
    position: relative;
    padding: 15px 20px 15px;
    color: #0f0f0f;
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-size: 1rem;
  }
  .wrapper .caption {
    width: auto;
    max-width: 60%;
    padding-right: 30px;
  }
  .wrapper .caption .caption__background {
    transform: skewX(-20deg);
    transform-origin: top;
    z-index: -1;
  }
  .wrapper .caption .caption__content {
    position: relative;
    padding: 15px 20px 15px;
    color: #0f0f0f;
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-size: 1rem;
  }
  .wrapper .q1 {
    top: 30px;
    right: 30px;
  }
  .wrapper .q1 blockquote:after {
    transform: skewX(-15deg);
    border-width: 30px 30px 0 0;
    top: 100%;
    right: auto;
    left: 50px;
  }
  .wrapper .q2 {
    bottom: 30px;
    right: 30px;
    max-width: 200px;
  }
  .wrapper .q2 blockquote:after {
    transform: skewX(15deg);
    border-width: 0 30px 30px 0;
    top: -30px;
    right: auto;
    left: 50px;
  }
  .wrapper .q3 {
    top: 20%;
    left: 40%;
    max-width: 200px;
    transform: translateX(-50%);
  }
  .wrapper .q3 blockquote:after {
    transform: skewX(-15deg);
    border-width: 30px 30px 0 0;
    top: 100%;
    right: auto;
    left: 50px;
  }
  .wrapper .q4 {
    left: auto;
    right: 40%;
    bottom: 10%;
    max-width: 200px;
    transform: translateX(50%);
  }
  .wrapper .q4 blockquote:after {
    transform: skewX(-15deg);
    border-width: 0 0 30px 30px;
    top: -30px;
    right: 50%;
  }
  .wrapper .q5 {
    bottom: 40%;
    left: 30%;
    max-width: 200px;
    transform: translate(-50%, 50%);
  }
  .wrapper .q5 blockquote:after {
    transform: skewX(-15deg);
    border-width: 0 0 30px 30px;
    top: -30px;
    left: auto;
    right: 50px;
  }
  .wrapper .q6 {
    bottom: 20%;
    left: 40%;
    max-width: 200px;
    transform: translateX(-50%);
  }
  .wrapper .q6 blockquote:after {
    transform: skewX(-15deg);
    border-width: 0 0 30px 30px;
    top: -30px;
    left: 50px;
  }
  .wrapper .q7 {
    top: 30px;
    bottom: auto;
    left: 30px;
    font-size: medium;
    max-width: 80%;
  }
  .wrapper .q7 blockquote:after {
    transform: skewX(15deg);
    border-width: 30px 0 0 30px;
    top: 100%;
    left: 50px;
  }
  .wrapper .q8 {
    bottom: 30px;
    right: auto;
    left: 50%;
    font-size: medium;
    width: 80%;
    transform: translateX(-50%);
  }
  .wrapper .q8 blockquote:after {
    transform: skewX(-15deg);
    border-width: 0 0 30px 30px;
    top: -30px;
    right: auto;
    left: 50px;
  }
  .shadow {
    position: absolute;
    height: 100%;
    width: 45px;
    top: 0;
    right: 0;
    box-shadow: -10px 0px 9px 3px rgb(15, 15, 15);
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    margin-top: 0;
    max-width: 1600px;
    width: 85%;
    justify-content: space-between;
  }
  .content .details {
    width: 50%;
    margin-top: 0;
    margin-left: 50px;
  }
  .content .image {
    max-height: 100%;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}/*# sourceMappingURL=style.css.map */