@import 'styles/variables.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background: $black;
}

nav {
    // display: none !important;
    background: $black;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 5;
    top: 0;
    .nav-top {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: end;
        button{
            height: 30px;
            width: 30px;
            border: none;
            background-color: transparent;
            img {
                height: 30px;
            }
        }
    }
    a {
        padding: 20px;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        text-align: center;
    }
    .active,
    a:hover {
        color: $black;
        background: $white;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: $wrapper-height;
    margin: $nav-width $margin-mobile;
    &::-webkit-scrollbar {
        margin: $nav-width;
        height: 6px;
        background-color: $black;
        z-index: 10;
    }
    &::-webkit-scrollbar-track {
        border-radius: 3px;
        background-color: $black;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: lighten($black, 30%);
    }
    .page {
        position: relative;
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 100%;
        .full {
            height: 100%;
        }
        .top,
        .bottom {
            height: 50%;
        }
        img {
            border: #f0f0f0 3px solid;
        }
    }
    .quote {
        position: absolute;
        blockquote {
            @include speech_bubbles_text-mobile;
            background: $white;
            text-align: center;
            border-radius: 15px;
            &:after {
                content: "";
                position: absolute;
                border-style: solid;
                border-color: $white transparent;
            }
        }
    }
    .caption {
        position: absolute;
        overflow: hidden;
        width: 100%;
        z-index: 5;
        .caption__background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $white;
        }
        .caption__content {
            @include speech_bubbles_text-mobile;
        }
    }
    p {
        margin: 0;
        padding: 0;
        a {
            color: $red;
            text-decoration: none;
        }
    }
    .q1 {
        top: $speech-margin-mobile;
        right: $speech-margin-mobile;
        blockquote:after {
            transform: skewX(-15deg);
            border-width: $speech-border-mobile $speech-border-mobile 0 0;
            top: 100%;
            right: 50px;
        }
    }
    .q2 {
        bottom: $speech-margin-mobile;
        right: $speech-margin-mobile;
        max-width: 200px;
        blockquote:after {
            transform: skewX(15deg);
            border-width: 0 $speech-border-mobile $speech-border-mobile 0;
            top: -$speech-border-mobile;
            right: 50px;
        }
    }
    .q3 {
        top: $speech-margin-mobile;
        left: $speech-margin-mobile;
        max-width: 200px;
        blockquote:after {
            transform: skewX(-15deg);
            border-width: $speech-border-mobile $speech-border-mobile 0 0;
            top: 100%;
            right: 50px;
        }
    }
    .q4 {
        left: $speech-margin-mobile;
        right: $speech-margin-mobile;
        bottom: $speech-margin-mobile;
        blockquote:after {
            transform: skewX(15deg);
            border-width: 0 $speech-border-mobile $speech-border-mobile 0;
            top: -$speech-border-mobile;
            right: 50px;
        }
    }
    .q5 {
        bottom: $speech-margin-mobile;
        left: $speech-margin-mobile;
        max-width: 200px;
        blockquote:after {
            transform: skewX(-15deg);
            border-width: 0 0 $speech-border-mobile $speech-border-mobile;
            top: -$speech-border-mobile;
            left: 50px;
        }
    }
    .q6 {
        bottom: $speech-margin-mobile;
        left: $speech-margin-mobile;
        max-width: 200px;
        blockquote:after {
            transform: skewX(-15deg);
            border-width: 0 0 $speech-border-mobile $speech-border-mobile;
            top: -$speech-border-mobile;
            left: 50px;
        }
    }
    .q7 {
        bottom: 55%;
        left: $speech-margin-mobile;
        font-size: small;
        max-width: 50%;
        blockquote:after {
            transform: skewX(-15deg);
            border-width: 0 0 $speech-border-mobile $speech-border-mobile;
            top: -$speech-border-mobile;
            left: 50px;
        }
    }
    .q8 {
        bottom: $speech-margin-mobile;
        right: $speech-margin-mobile;
        font-size: small;
        width: 80%;
        blockquote:after {
            transform: skewX(15deg);
            border-width: 0 $speech-border-mobile $speech-border-mobile 0;
            top: -$speech-border-mobile;
            right: 50px;
        }
    }
}

.shadow {
    display: none;
}